<ion-view title="DOOH CoachPosition" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-assertive icon ion-android-train"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="dOOHCoachPosition-container1">
      <div class="spacer" style="width: 748px; height: 21px;"></div>
      <ion-list id="dOOHCoachPosition-list3">
        <ion-item class="item-icon-left item-icon-right balanced" id="dOOHCoachPosition-list-item1" ui-sref="manageCoachPosition()">
          <i class="icon ion-android-arrow-dropright-circle"></i>Platform 1
          <span class="item-note">Details of Coach Position to be displayed in PF 1</span>
          <i class="icon ion-android-arrow-dropdown"></i>
        </ion-item>
        <ion-item class="item-icon-left positive" id="dOOHCoachPosition-list-item3">
          <i class="icon ion-android-train"></i>Train Number
          <span class="item-note">-</span>
        </ion-item>
        <ion-item class="item-icon-left positive" id="dOOHCoachPosition-list-item4">
          <i class="icon ion-android-train"></i>Train Name
          <span class="item-note">-</span>
        </ion-item>
        <ion-toggle toggle-class="toggle-calm" id="dOOHCoachPosition-toggle1" name="coachpos_show">Show Coach Position in Platform</ion-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-view>