<ion-view title="Login to Coach Position Tool" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-assertive icon ion-android-train"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="loginToCoachPositionTool-form1" class="list">
      <ion-list id="loginToCoachPositionTool-list1">
        <label class="item item-select" id="loginToCoachPositionTool-select3">
          <span class="input-label">Choose Station</span>
          <select>
            <option>TVC</option>
            <option>ALLP</option>
            <option>KTYM</option>
            <option>ERS</option>
            <option>ERN</option>
            <option>NCJ</option>
            <option>TCR</option>
            <option>AWY</option>
          </select>
        </label>
        <label class="item item-input" id="loginToCoachPositionTool-input2" name="pfnum">
          <span class="input-label">Enter Number of Platforms</span>
          <input type="number" placeholder="1">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="dOOHCoachPosition()" id="loginToCoachPositionTool-button1" style="border-radius:46px 46px 46px 46px;" class="button button-positive button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>