<ion-view title="Manage Coach Position" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-assertive icon ion-android-train"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 748px; height: 18px;"></div>
    <form id="manageCoachPosition-form7" class="list">
      <label class="item item-select" id="manageCoachPosition-select2" name="trainees">
        <span class="input-label">Select Train</span>
        <select>
          <option>Choose Train Number</option>
          <option>12626</option>
          <option>12625</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-positive" id="manageCoachPosition-toggle4">Train towards North (of not selected, assumed towards south)</ion-toggle>
      <div class="spacer" style="width: 748px; height: 26px;"></div>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item9">1
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item10">2
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item11">3
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item12">4
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item13">5
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item14">6
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item15">7
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item16">8
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item17">9
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item18">10
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item19">11
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item20">12
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item21">13
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item22">14
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item23">15
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item24">16
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item25">17
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item26">18
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item27">19
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item28">20
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item29">21
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item30">22
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item31">23
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="manageCoachPosition-list-item32">24
        <i class="icon ion-android-contract"></i>
      </ion-item>
      <button id="manageCoachPosition-button10" class="button button-positive button-block">Save!</button>
    </form>
  </ion-content>
</ion-view>