<ion-view title="Manage Coach Position" id="page7">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-assertive icon ion-android-train"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 748px; height: 18px;"></div>
    <form id="manageCoachPosition-form7" class="list">
      <label class="item item-select" id="manageCoachPosition-select2" name="trainees">
        <span class="input-label">Select Train</span>
        <select>
          <option>Choose Train Number</option>
          <option>12626</option>
          <option>12625</option>
        </select>
      </label>
      <ion-toggle toggle-class="toggle-positive" id="manageCoachPosition-toggle4">Train towards North (of not selected, assumed towards south)</ion-toggle>
      <div class="spacer" style="width: 748px; height: 26px;"></div>
      <button id="manageCoachPosition-button10" class="button button-positive button-block">Save!</button>
    </form>
  </ion-content>
</ion-view>